
body {
    background-color: #4f3636;
}

.home-content {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

code {
    font-size: 1.7rem;
    color: #ddd;
    border: 1px solid #fff;
    background-color: #7f5959;
    padding: 1.4rem;
    margin-bottom: 1.4rem;
}

.controllers-radius {
    display: grid;
    grid-template-areas: 
        "sliderTop sliderTop sliderTop"
        "sliderLeft box sliderRight"
        "sliderBottom sliderBottom sliderBottom";
    grid-gap: 2rem;
}


.slider-top {
    grid-area: sliderTop;
}

.slider-right {
    grid-area: sliderRight;
}
.slider-bottom {
    grid-area: sliderBottom;
}
.slider-left {
    grid-area: sliderLeft;
}
.box {
    grid-area: box;
}

.slider-vertical {
    transform: rotate(90deg);
}