.box {
    width: 18rem;
    height: 18rem;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    font-size: 1.6rem;
    text-transform: uppercase;
}